# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
